@import url(https://fonts.gogoleapis.com/css?family=Lato);
@import "bootstrap-sprockets";
@import "bootstrap";


@mixin background-tile {
    margin-right: 20px;
    margin-left: 20px;
    box-sizing: border-box;
    background-color: #fff;
    border-radius: 5px 10px;
    box-shadow: 1px 1px 3px 4px #ccc;
    padding: 0.6em 0.6em;
}

body {
    background: -webkit-linear-gradient(40deg, #d1edf0 10%, #ecc8c6 100%);
    background: -moz-linear-gradient(40deg, #d1edf0 10%, #ecc8c6 100%);
    background: -ms-linear-gradient(40deg, #d1edf0 10%, #ecc8c6 100%);
    background: -o-linear-gradient(40deg, #d1edf0 10%, #ecc8c6 100%);
    background:         linear-gradient(40deg, #d1edf0 10%, #ecc8c6 100%);
    font-family: 'Loto' , sans-serif;
}

h1,h2,h3,h4,h5.h6 {
    font-family: 'Loto', sans-serif;
    font-weight: 200;
    text-transform: uppercase;
}

p.alert, p.notice {
    margin: 0;
}

.navbar{
    font-family: 'Loto', sans-serif;
    text-transform: uppercase;
}

.navbar-nav > li > a {
    color: #222;
    &:hover {
        color: darken(#bdbdbd, 5%);
        transition: 0.5s;
    }
}

.navbar-header {
    .navbar-brand {
        color: #A77DC2;
        letter-spacing: 1.4px;
        text-transform: none;
        font-size: 2.3em;
    }
}

.dropdown-menu > li > a:hover {
    background-color: darken(#bdbdbd, 5%);
    color: #fff;
}

.dropdown-menu > .active > a {
    background-color: #bdbdbd;
    color: #fff;
}


.btn-custom {
    color: darken (#bdbdbd, 5%);
    background-color: #fff;
    border: 1px solid darken(#bdbdbd, 5%);
    padding: 8px 20px;
    border-radius: 0px;
    font-family: 'Loto', sans-serif;
    &:hover {
        text-decoration: none;
        background-color: darken(#bdbdbd, 5%);
        color: #fff;
        transition: 0.5s;
    }
}

.btn-custom2 {
    color: #333;
    background-color: #fff;
    border: 1px solid #222;
    padding: 8px 20px;
    border-radius: 0px;
    font-family: 'Loto', sans-serif;
    &:hover {
        text-decoration: none;
        background-color: #333;
        color: #fff;
        transition: 0.5s;
    }
}

.links {
    .btn-custom {
        padding: 3px 10px;
        font-weight: 300;
    }
}

.movie-links {
    .btn-custom {
        padding: 3px 10px;
        font-weight: 300;
        margin-top: 40px;
    }
}



.movie {
height: 250px;
width: 150;
margin-bottom: 40px;
@include background-tile;
}

.movie-show{
   height: 350px;
width: 250px;
@include background-tile;
}

.movie-info {
    @include background-tile;
    
    .movie-title {
        margin-top: 0;
        font-size: 4em;
        font-weight: bold;
    }
    
    .avg-rating {
        font-size: 1.5em;
        margin-top: 75px;
        margin-bottom: 5px;
        font-weight: bold;
    }
    
    .number-of-reviews {
        font-size: 0.85em;
        font-style: italic;
    }
    
    .movie-director {
        color: #234;
        font-size: 1.5em;
        margin-top: 10px;
        margin-bottom: 10px;
        font-style: italic;
        font-weight: lighter;
        span {
            font-size: 0.80em;
        }
    }
    
    .movie-desc {
        font-size: 1.05em;
        line-height: 1.5em;
        margin-bottom: 15px;
        margin-top: 15px;
    }
}




.current-category {
    color: #234;
    margin-bottom: 40px;
}


.reviews {
    @include background-tile;
    margin-top: 40px;
}

h1{
    color: #234;
    margin-top: 0;
    margin-bottom: 25px;
    font-size: 2em;
    font-weight: bold;
}

  .review {
      border-bottom: 1px solid gainsboro;
      margin-bottom: 15px;
      padding-bottom: 10px;
  
      .review-comment {
          font-size: 1.05em;
          line-height: 1.5;
      }
  }
  
  .new-review {
      padding-top: 8px;
  }
  
  
  .new-movie-form {
      @include background-tile;
      
      h1 {
          margin-top: 0;
          font-weight: bold;
          }
          
          #category_id {
              margin-bottom: 10px;
          }
          
          #movie_movie_img {
              margin-bottom: 10px;
          }
  }
  
  
  .edit-movie-form {
      
     @include background-tile;
     h1 {
         margin-top: 0;
         font-weight: bold;
     }
      
      #movie_category_id {
          margin-bottom: 10px;
      }
      
      #movie_movie_img {
          margin-bottom: 10px;
      }
  }
  
  
  .new-review-form, .edit-review-form{
      @include background-tile;
      
      h1 {
          margin-top: 0;
          font-weight: bold;
      }
      #rating-form {
          margin-bottom: 15px;
          
          label {
              display: block;
          }
      }
  }
  
  
  .signup-form {
      @include background-tile;
      
      h2 {
          margin-top: 0;
          font-weight: bold;
      }
  }
  
  .login-form {
      @include background-tile;
      
      h2 {
          margin-top: 0;
      }
  }
  